<!--
  Copyright JS Foundation and other contributors, http://js.foundation
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  http://www.apache.org/licenses/LICENSE-2.0
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<script type="text/x-red" data-template-name="conmqtt in">
    <div class="form-row">
        <label for="node-input-broker"><i class="fa fa-globe"></i> <span data-i18n="mqtt.label.broker"></span></label>
        <input type="text" id="node-input-broker">
    </div>
    <div class="form-row">
        <label for="node-input-topic"><i class="fa fa-tasks"></i> <span data-i18n="common.label.topic"></span></label>
        <input type="text" id="node-input-topic" data-i18n="[placeholder]common.label.topic">
    </div>
    <div class="form-row">
        <label for="node-input-qos"><i class="fa fa-empire"></i> <span data-i18n="mqtt.label.qos"></span></label>
        <select id="node-input-qos" style="width:125px !important">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
        </select>
    </div>
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> <span data-i18n="common.label.name"></span></label>
        <input type="text" id="node-input-name" data-i18n="[placeholder]common.label.name">
    </div>
</script>

<script type="text/x-red" data-help-name="conmqtt in">
<p>Connects to a MQTT broker and subscribes to messages from the specified topic.</p>
    <h3>Outputs</h3>
    <dl class="message-properties">
       <dt>payload <span class="property-type">string | buffer</span></dt>
       <dd>a string unless detected as a binary buffer.</dd>
       <dt>topic <span class="property-type">string</span></dt>
       <dd>the MQTT topic, uses / as a heirarchy separator.</dd>
       <dt>qos <span class="property-type">number</span> </dt>
       <dd>0, fire and forget - 1, at least once - 2, once and once only.</dd>
       <dt>retain <span class="property-type">boolean</span></dt>
       <dd>true indicates the message was retained and may be old.</dd>
    </dl>
    <h3>Details</h3>
    The subscription topic can include MQTT wildcards, + for one level, # for multiple levels.</p>
    <p>This node requires a connection to a MQTT broker to be configured. This is configured by clicking
    the pencil icon.</p>
    <p>Several MQTT nodes (in or out) can share the same broker connection if required.</p>
</script>

<script type="text/javascript">
    RED.nodes.registerType('conmqtt in',{
        category: 'input',
        defaults: {
            name: {value:""},
            topic: {value:"",required:true,validate: RED.validators.regex(/^(#$|(\+|[^+#]*)(\/(\+|[^+#]*))*(\/(\+|#|[^+#]*))?$)/)},
            qos: {value: "2"},
            broker: {type:"conmqtt-broker", required:true}
        },
        color:"#d8bfd8",
        inputs:0,
        outputs:1,
        icon: "bridge.png",
        label: function() {
            return this.name||this.topic||"conmqtt";
        },
        labelStyle: function() {
            return this.name?"node_label_italic":"";
        },
        oneditprepare: function() {
            if (this.qos === undefined) {
                $("#node-input-qos").val("2");
            }
        }
    });
</script>


<script type="text/x-red" data-template-name="conmqtt-broker">
    <div class="form-row">
        <ul style="background: #fff; min-width: 600px; margin-bottom: 20px;" id="node-config-conmqtt-broker-tabs"></ul>
    </div>
    <div id="node-config-conmqtt-broker-tabs-content" style="min-height: 170px;">
        <div id="conmqtt-broker-tab-connection" style="display:none">
            <div class="form-row node-input-broker">
                <label for="node-config-input-broker"><i class="fa fa-globe"></i> <span data-i18n="mqtt.label.broker"></span></label>
                <input class="input-append-left" type="text" id="node-config-input-broker" style="width:40%;" data-i18n="[placeholder]mqtt.label.example">
                <label for="node-config-input-port" style="margin-left:20px; width:43px; "> <span data-i18n="mqtt.label.port"></span></label>
                <input type="text" id="node-config-input-port" data-i18n="[placeholder]mqtt.label.port" style="width:55px">
            </div>
            <div class="form-row">
                <input type="checkbox" id="node-config-coninput-usetls" style="display: inline-block; width: auto; vertical-align: top;">
                <label for="node-config-coninput-usetls" style="width: auto" data-i18n="mqtt.label.use-tls"></label>
                <div id="node-config-con-row-tls" class="hide">
                    <label style="width: auto; margin-left: 20px; margin-right: 10px;" for="node-config-coninput-tls"><span data-i18n="mqtt.label.tls-config"></span></label><input style="width: 300px;" type="text" id="node-config-coninput-tls">
                </div>
            </div>
            <div class="form-row">
                <label for="node-config-coninput-clientid"><i class="fa fa-tag"></i> <span data-i18n="mqtt.label.clientid"></span></label>
                <input type="text" id="node-config-coninput-clientid" data-i18n="[placeholder]mqtt.placeholder.clientid">
            </div>
            <div class="form-row">
                <label for="node-config-coninput-keepalive" style="width: auto"><i class="fa fa-clock-o"></i> <span data-i18n="mqtt.label.keepalive"></span></label>
                <input type="text" id="node-config-coninput-keepalive" style="width: 50px">
                <input type="checkbox" id="node-config-input-concleansession" style="margin-left: 30px; height: 1em;display: inline-block; width: auto; vertical-align: middle;">
                <label for="node-config-input-concleansession" style="width: auto;" data-i18n="mqtt.label.cleansession"></label>
            </div>
            <div class="form-row">
                <input type="checkbox" id="node-config-coninput-compatmode" style="display: inline-block; width: auto; vertical-align: top;">
                <label for="node-config-coninput-compatmode" style="width: auto;" data-i18n="mqtt.label.compatmode"></label>
            </div>
        </div>
        <div id="conmqtt-broker-tab-security" style="display:none">
            <div class="form-row">
                <label for="node-config-input-user"><i class="fa fa-user"></i> <span data-i18n="common.label.username"></span></label>
                <input type="text" id="node-config-input-user">
            </div>
            <div class="form-row">
                <label for="node-config-input-password"><i class="fa fa-lock"></i> <span data-i18n="common.label.password"></span></label>
                <input type="password" id="node-config-input-password">
            </div>
        </div>
        <div id="conmqtt-broker-tab-birth" style="display:none">
            <div class="form-row">
                <label for="node-config-input-birthTopic"><i class="fa fa-tasks"></i> <span data-i18n="common.label.topic"></span></label>
                <input type="text" id="node-config-input-birthTopic" data-i18n="[placeholder]mqtt.placeholder.birth-topic">
            </div>
            <div class="form-row">
                <label for="node-config-coninput-birthQos"><i class="fa fa-empire"></i> <span data-i18n="mqtt.label.qos"></span></label>
                <select id="node-config-coninput-birthQos" style="width:125px !important">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>
                &nbsp;&nbsp;<i class="fa fa-history"></i>&nbsp;<span data-i18n="mqtt.retain"></span> &nbsp;<select id="node-config-input-birthRetain" style="width:125px !important">
                    <option value="false" data-i18n="mqtt.false"></option>
                    <option value="true" data-i18n="mqtt.true"></option>
                </select>
            </div>
            <div class="form-row">
                <label for="node-config-input-birthPayload"><i class="fa fa-envelope"></i> <span data-i18n="common.label.payload"></span></label>
                <input type="text" id="node-config-input-birthPayload" data-i18n="[placeholder]common.label.payload">
            </div>
        </div>
        <div id="conmqtt-broker-tab-will" style="display:none">
            <div class="form-row">
                <label for="node-config-input-willTopic"><i class="fa fa-tasks"></i> <span data-i18n="common.label.topic"></span></label>
                <input type="text" id="node-config-input-willTopic" data-i18n="[placeholder]mqtt.placeholder.will-topic">
            </div>
            <div class="form-row">
                <label for="node-config-coninput-willQos"><i class="fa fa-empire"></i> <span data-i18n="mqtt.label.qos"></span></label>
                <select id="node-config-coninput-willQos" style="width:125px !important">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>
                &nbsp;&nbsp;<i class="fa fa-history"></i>&nbsp;<span data-i18n="mqtt.retain"></span> &nbsp;<select id="node-config-input-willRetain" style="width:125px !important">
                    <option value="false" data-i18n="mqtt.false"></option>
                    <option value="true" data-i18n="mqtt.true"></option>
                </select>
            </div>
            <div class="form-row">
                <label for="node-config-input-willPayload"><i class="fa fa-envelope"></i> <span data-i18n="common.label.payload"></span></label>
                <input type="text" id="node-config-input-willPayload" data-i18n="[placeholder]common.label.payload">
            </div>
        </div>
    </div>
</script>

<script type="text/x-red" data-help-name="conmqtt-broker">
    <p>A minimum MQTT broker connection requires only a broker server address to be added to the default configuration.</p>
    <p>To secure the connection with SSL/TLS, a TLS Configuration must also be configured and selected.</p>
    <p>If you create a Client ID it must be unique to the broker you are connecting to.</p>
    <p>For more information about MQTT see the <a href="http://www.eclipse.org/paho/" target="_blank">Eclipse Paho</a> site.</p>
</script>

<script type="text/javascript">
    RED.nodes.registerType('conmqtt-broker',{
        category: 'config',
        defaults: {
            broker: {value:"",required:true},
            port: {value:1883,required:true,validate:RED.validators.number()},
            tls: {type:"tls-config",required: false},
            clientid: {value:"", validate: function(v) {
                    if ($("#node-config-coninput-clientid").length) {
                        // Currently editing the node
                        return $("#node-config-input-concleansession").is(":checked") || (v||"").length > 0;
                    } else {
                        return (this.cleansession===undefined || this.cleansession) || (v||"").length > 0;
                    }
                }},
            usetls: {value: false},
            verifyservercert: { value: false},
            compatmode: { value: true},
            keepalive: {value:60,validate:RED.validators.number()},
            cleansession: {value: true},
            willTopic: {value:""},
            willQos: {value:"0"},
            willRetain: {value:false},
            willPayload: {value:""},
            birthTopic: {value:""},
            birthQos: {value:"0"},
            birthRetain: {value:false},
            birthPayload: {value:""}
        },
        credentials: {
            user: {type:"text"},
            password: {type: "password"}
        },
        label: function() {
            var b = this.broker;
            if (b === "") { b = "undefined"; }
            return (this.clientid?this.clientid+"@":"")+b+":"+this.port;
        },
        oneditprepare: function () {
            var tabs = RED.tabs.create({
                id: "node-config-conmqtt-broker-tabs",
                onchange: function(tab) {
                    $("#node-config-conmqtt-broker-tabs-content").children().hide();
                    $("#" + tab.id).show();
                }
            });
            tabs.addTab({
                id: "conmqtt-broker-tab-connection",
                label: this._("mqtt.tabs-label.connection")
            });
            tabs.addTab({
                id: "conmqtt-broker-tab-security",
                label: this._("mqtt.tabs-label.security")
            });
            tabs.addTab({
                id: "conmqtt-broker-tab-birth",
                label: this._("mqtt.tabs-label.birth")
            });
            tabs.addTab({
                id: "conmqtt-broker-tab-will",
                label: this._("mqtt.tabs-label.will")
            });
            setTimeout(function() { tabs.resize(); },0);
            if (typeof this.cleansession === 'undefined') {
                this.cleansession = true;
                $("#node-config-input-concleansession").prop("checked",true);
            }
            if (typeof this.usetls === 'undefined') {
                this.usetls = false;
                $("#node-config-coninput-usetls").prop("checked",false);
            }
            if (typeof this.compatmode === 'undefined') {
                this.compatmode = true;
                $("#node-config-coninput-compatmode").prop('checked', true);
            }
            if (typeof this.keepalive === 'undefined') {
                this.keepalive = 15;
                $("#node-config-coninput-keepalive").val(this.keepalive);
            }
            if (typeof this.willQos === 'undefined') {
                this.willQos = "0";
                $("#node-config-coninput-willQos").val("0");
            }
            if (typeof this.birthQos === 'undefined') {
                this.birthQos = "0";
                $("#node-config-coninput-birthQos").val("0");
            }

            function updateTLSOptions() {
                if ($("#node-config-coninput-usetls").is(':checked')) {
                    $("#node-config-con-row-tls").show(); } else {
                    $("#node-config-con-row-tls").hide();
                }
            }
            updateTLSOptions();
            $("#node-config-coninput-usetls").on("click",function() {
                updateTLSOptions();
            });
            var node = this;
            function updateClientId() {
                if ($("#node-config-input-concleansession").is(":checked")) {
                    $("#node-config-coninput-clientid").attr("placeholder",node._("mqtt.placeholder.clientid"));
                } else {
                    $("#node-config-coninput-clientid").attr("placeholder",node._("mqtt.placeholder.clientid-nonclean"));
                }
                $("#node-config-coninput-clientid").change();
            }
            setTimeout(updateClientId,0);
            $("#node-config-input-concleansession").on("click",function() {
                updateClientId();
            });
        },
        oneditsave: function() {
            if (!$("#node-config-coninput-usetls").is(':checked')) {
                $("#node-config-coninput-tls").val("");
            }
        }
    });
</script>
